@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: Poppins;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
}

main {
  display: grid;
  height: 100dvh;
  place-items: center;
  background-color: black;
}

.canvas {
  background-color: #111111;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(17, 17, 26, 0.5) 0px 4px 16px,
    rgba(17, 17, 26, 0.5) 0px 8px 24px, rgba(17, 17, 26, 0.25) 0px 16px 56px;
  width: 98dvw !important;
  height: 98dvh !important;
  border-radius: 0.85rem;
}

.menu_container {
  display: grid;
  place-items: center;
  width: 100dvw;

  .start_menu {
    display: grid;
    place-items: start;
    /* width: 100dvw; */
    color: rgb(184, 184, 184);

    .start_btn {
      background-color: black;
      border: 1px solid rgba(255, 255, 255, 0.444);
      color: white;
      border-radius: 0.35rem;
      padding: 0.5rem 2rem;
      margin-left: 1.5rem;
    }
  }
}

.overlay_container {
  background-color: rgba(0, 0, 0, 0.711);
  color: white;
  width: 98dvw !important;
  height: 98dvh !important;
  display: grid;
  place-items: center;
  font-size: 4rem;
  position: fixed;
}

.score {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  display: flex;
  gap: 2rem;
  padding: 0.25rem 2rem;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  font-size: 0.8rem;

  .text {
    display: flex;
    gap: 0.5rem;
  }
}

.game_over_container {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  place-items: center;

  .game_over {
    width: 100dvw;
    display: grid;
    place-items: center;
    color: white;
    gap: 1rem;

    p {
      margin: 0 auto;
      text-align: center;
      width: 40%;

      @media screen and (max-width: 800px) {
        width: 70%;
      }

      span {
        font-weight: bolder;
        font-style: italic;
        margin-left: 0.25rem;
      }
    }

    a {
      font-style: italic;
      text-decoration: underline;
    }

    .start_btn {
      background-color: black;
      border: 1px solid rgba(255, 255, 255, 0.444);
      color: white;
      border-radius: 0.35rem;
      padding: 0.5rem 2rem;
    }
  }
}
